body {
   text-align: center;
   margin-top: 25px;
   color: white;
}

h1 {
   margin-bottom: 20px;
}

.search-bar {
   margin: 0 auto;
   width: 20%;
   min-width: 275px;
   height: 40px;
}

.results-container {
   
   margin-bottom: 40px;
}

.result-title {
   margin: 30px 0 20px 0;
}

.results {
   background-color:  rgb(38, 0, 65);
   opacity: 70%;
   padding:10px;
   padding-bottom: 20px;
   margin: auto;
   width: 500px;
   border-bottom: 1px solid rgb(201, 201, 201);
}

p {
   font-size: 17px;
   font-weight: bold;
   position: relative;
   top: 7px;
}

span {
   font-size: 15px;
}

.artist {
   margin-right: 7px; 
}

.album {
   margin-left: 7px; 
}

.bottom-result {
   border-bottom: none;
}

@media screen and ( min-width: 551px ) {
   body {
      background-color: indigo;
      background-image: url('/images/background_photo_desktop.jpeg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
   }
}


@media screen and ( max-width: 550px ) {

   body {
      background-color: indigo;
   }

   .results {
      opacity: 80%;
      width: 325px;
   }

}